<!-- Navbar with new image and logout -->
<div class="container-fluid">
  <div class="row align-items-center">
    <div class="col-xs-4">
      <img src="img/NINv2.png" class="navbar-img navbar-brand"></img>
    </div>
  </div>
</div>

  <!-- *Main Content -->
  <div class="container-fluid">

      <!-- *Row with Header -->
    <div class="row justify-content-md-center">
      <div class="col-md-6 col-md-offset-3">
        <h2>Welcome <span class="member-name"></span></h2>
      </div>
    </div>
    <!-- Row containing top bar for Weather -->
    <div class="col-md-12">
      <div class="row justify-content-center">
        <div class="col-xs-4 col-md-4">
          <div class="weather-bar day-0">
              <img class="weather-icon"></img>
              <p class="date"></p>
              <p class="temp"></p>
          </div>
        </div>
        <div class="col-xs-4 col-md-4">
          <div class="weather-bar day-1">
              <img class="weather-icon"></img>
              <p class="date"></p>
              <p class="temp"></p>
          </div>
        </div>
        <div class="col-xs-4 col-md-4">
          <div class="weather-bar day-2">
              <img class="weather-icon"></img>
              <p class="date"></p>
              <p class="temp"></p>
          </div>
        </div>
      </div>
    </div>
    <!-- *Row for Map view -->
    <div class="row justify-content-md-center">
      <!-- ! JD -11/29 - Added id to map container-->
      <div class="col-md-6 map" id="map">
          <!-- <img src="img/maps-placeholder.PNG" alt="maps placeholder" class="placeholder">  -->
      </div>
    </div>

    <!-- *List View: Will utilize handlebars to create dynamic lists pulled from our Goods & Services DB-->
    <div class="row justify-content-md-center">
        <div class="col-md-6 col-md-offset-3">
            <!-- *Dummy data for layout purposes: do we click for description to see more info and keep the interface clean? -->
            <table class="table table-responsive">
                <thead>
                  <tr>
                    <th scope="col">Location</th>
                    <th scope="col">Address</th>
                    <th scope="col">Time</th>
                    <th scope="col">Description</th> <!-- Do we truncate for cleanliness of UI?-->
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <!-- how to include this with handlebars -->
                    <td>Shelter</td>
                    <td>Any</td>
                    <td>123 Here Str.</td>
                    <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor..</td>
                  </tr>
                </tbody>
            </table>
        </div>
    </div>
  </div> <!-- *end div for container-->