<!-- *The Navbar with 3 Day Weather Forecast and Logout -->
  <!-- !navbar alignment breaks at  770px-->
  <nav class="navbar container-fluid">
    <img src="img/NINv2.png" class="navbar-brand navbar-header"></img>
    <ul class="nav navbar-nav space-over">
        <li class="nav-item">
            <div class="weather-bar day-0">
                <img class="weather-icon"></img>
                <p class="date"></p>
                <p class="temp"></p>
            </div>
        </li>
        <li class="nav-item">
            <div class="weather-bar day-1">
                <img class="weather-icon"></img>
                <p class="date"></p>
                <p class="temp"></p>
            </div>
        </li>
        <li class="nav-item">
            <div class="weather-bar day-2">
                <img class="weather-icon"></img>
                <p class="date"></p>
                <p class="temp"></p>
            </div>
        </li>
    </ul>
    <div class="justify-content-end">
        <i class="fas fa-sign-out-alt"></i>
        <!-- <a class="logout" href="/logout"></a>   move this to js -->
    </div>
  </nav>

  <!-- *Main Content -->
  <div class="container-fluid">

      <!-- *Row with Header -->
    <div class="row justify-content-md-center">
      <div class="col-md-6 col-md-offset-3">
        <h2>Welcome <span class="member-name"></span></h2>
      </div>
    </div>
    <!-- *Row for Map view -->
    <div class="row justify-content-md-center">
      <!-- ! JD -11/29 - Added id to map container-->
        <div class="col-md-6 col-md-offset-3 map" id="map">
            <!-- <img src="img/maps-placeholder.PNG" alt="maps placeholder" class="placeholder">  -->
        </div>
    </div>
    <!-- *Add Post Button Row -->
    <div class="row justify-content-md-center">
      <!-- * JD - 11/24 - Commented out button and wrapper to differentiate for NIN view demo -->
      
      <!-- THIS IS THE FORM ELEMENTS FOR CREATING EVENTS-->
      <!-- IT ALSO HAS A BUTTON THAT HIDES "myDIV" until pressed -->
      <!-- MARK 11/30 -->
         <div class="col-md-6 col-md-offset-3">
          <button type="submit" id="get_started" class="btn-sm">Add New Post</button>
          <div id="myDIV">
            <form class="event_info" id="form"> 
              <label for="location">Location</label>
              <input name="location" type="text"> 
              <br>
              <label for="address">address</label>
              <input name="address" type="text">
              <br>
              <label for="time">time</label>
              <input name= "time" type="text"> 
              <br>
              <label for="description">description</label>
              <input name="description" type="text"> 
              <br>
              <!-- <input type="submit"> -->
            
            <button type="submit" class="btn-lg">Add New Post</button>
          </form>
        </div> 
    </div>
    <!-- *List View: Will utilize handlebars to create dynamic lists pulled from our Goods & Services DB-->
    <div class="row justify-content-md-center">
        <div class="col-md-6 col-md-offset-3">
            <!-- *Dummy data for layout purposes: do we click for description to see more info and keep the interface clean? -->
            <table class="table table-responsive">
                <thead>
                  <tr>
                    <th scope="col">Service Provided</th>
                    <th scope="col">Time</th>
                    <th scope="col">Location</th>
                    <th scope="col">Description</th> <!--?Do we truncate for cleanliness of UI?-->
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Shelter</td>
                    <td>Any</td>
                    <td>123 Here Str.</td>
                    <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor..</td>
                  </tr>
                  <tr>
                    <td>Clothing</td>
                    <td>1:00PM - 3:00PM</td>
                    <td>St Stephens Church, 456 Something Rd</td>
                    <td>Socks and Winter Coats available on a first come first served basis at St. Stephens Church.</td>
                  </tr>
                  <tr>
                    <td>Meals</td>
                    <td>11:30AM - 1:30PM</td>
                    <td>Richmond Community Center, 456 Something Rd</td>
                    <td>Hot grilled cheese and soup provided at the Richmond Community Center.</td>
                  </tr>
                </tbody>
            </table>
        </div>
    </div>
  </div> <!-- *end div for container-->