 <!-- Navbar with new image and logout -->
<div class="container-fluid">
  <div class="row align-items-center">
    <div class="col-xs-4">
      <img src="img/NINv2.png" class="navbar-img navbar-brand"></img>
    </div>
    <div class="col-xs-3 col-xs-offset-5">
      <i class="fas fa-sign-out-alt fa-lg"></i>
    </div>
  </div>
</div>

  <!-- *Main Content -->
  <div class="container-fluid">

      <!-- *Row with Header -->
    <div class="row justify-content-md-center">
      <div class="col-md-6 col-md-offset-3">
        <h2>Welcome <span class="member-name"></span></h2>
      </div>
    </div>
    <!-- Row containing top bar for Weather -->
    <div class="col-md-12">
      <div class="row justify-content-center">
        <div class="col-xs-4 col-md-4">
          <div class="weather-bar day-0">
              <img class="weather-icon"></img>
              <p class="date"></p>
              <p class="temp"></p>
          </div>
        </div>
        <div class="col-xs-4 col-md-4">
          <div class="weather-bar day-1">
              <img class="weather-icon"></img>
              <p class="date"></p>
              <p class="temp"></p>
          </div>
        </div>
        <div class="col-xs-4 col-md-4">
          <div class="weather-bar day-2">
              <img class="weather-icon"></img>
              <p class="date"></p>
              <p class="temp"></p>
          </div>
        </div>
      </div>
    </div>
    <!-- *Row for Map view -->
    <div class="row justify-content-md-center">
      <!-- ! JD -11/29 - Added id to map container-->
      <div class="col-md-6 map" id="map">
          <!-- <img src="img/maps-placeholder.PNG" alt="maps placeholder" class="placeholder">  -->
      </div>
    </div>
    <!-- *Add Post Button Row -->
    <div class="row justify-content-md-center">
      <!-- * JD - 11/24 - Commented out button and wrapper to differentiate for NIN view demo -->
      
      <!-- THIS IS THE FORM ELEMENTS FOR CREATING EVENTS-->
      <!-- IT ALSO HAS A BUTTON THAT HIDES "myDIV" until pressed -->
      <!-- MARK 11/30 -->
         <div class="col-md-6 col-md-offset-3">
           <div id="myDIV">
             <form class="event_info" id="form"> 
              <div class="form-group">
                <label for="location">Location:</label>
                <input name="location" type="text" class="form-control" placeholder="Ex. Richmond Community Center"> 
              </div>
              <div class="form-group">
                <label for="address">Address:</label>
                <input name="address" type="text" class="form-control" placeholder="Ex. 1234 Road Str Richmond, Va 23220">
              </div>
              <div class="form-group">
                <label for="time">Time:</label>
                <input name= "time" type="text" class="form-control" placeholder="Ex. 11:00AM"> 
              </div>
              <div class="form-group">
                <label for="description">Description:</label>
                <!-- <input name="description" type="text" class="form-control" rows="3" placeholder="Ex. Hot lunch provided from 11 - 2pm. First come, first served."> -->
                <textarea name="description" type="text" class="form-control" id="exampleFormControlTextarea1" rows="2" placeholder="Ex. Hot lunch provided from 11 - 2pm. First come, first served."></textarea> 
              </div>              
            </form>
            <button type="submit" class="btn-lg">Add New Post</button>
          </div> <!--this div toggles and is hidden when "get-started" is clicked-->
          <button type="submit" id="get_started" class="btn-md">Toggle Add Post Fields</button>
        </div>
    </div>
    <!-- *List View: Will utilize handlebars to create dynamic lists pulled from our Goods & Services DB-->
    <div class="row justify-content-md-center">
        <div class="col-md-6 col-md-offset-3">
            <!-- *Dummy data for layout purposes: do we click for description to see more info and keep the interface clean? -->
            <table class="table table-responsive">
                <thead>
                  <tr>
                    <th scope="col">Location</th>
                    <th scope="col">Address</th>
                    <th scope="col">Time</th>
                    <th scope="col">Description</th> <!-- Do we truncate for cleanliness of UI?-->
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <!-- how to include this with handlebars -->
                    <td>Shelter</td>
                    <td>Any</td>
                    <td>123 Here Str.</td>
                    <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor..</td>
                  </tr>
                </tbody>
            </table>
        </div>
    </div>
  </div> <!-- *end div for container-->