<!-- rendered landing.handlebars file -->
  <!-- The Navbar and Login -->
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-xs-4">
        <img src="img/NINv2.png" class="navbar-img navbar-brand"></img>
      </div>
      <div class="col-xs-3 col-xs-offset-5">
        <i class="fas fa-sign-in-alt fa-lg"></i>
      </div>
    </div>
  </div>

  
  <!-- Main Content -->
  <div class="container-fluid">
    <!-- Row with Header -->
    <div class="row justify-content-md-center">
      <div class="col-md-6 col-md-offset-3">
          <!-- description needs work -->
        <h3>Neighbors in Need is a forum to inform our neighbors in need of any community provided shelter, goods and services in the local area.<span class=""></span></h3>
      </div>
    </div>

    <!-- Row for Post Detail -->
    <div class="row">
        <div class="col-md-6 col-md-offset-3 map">
            <form>
                <!-- Radio buttons for user routing -->
                <fieldset class="form-group">
                  <div class="row">
                    <legend class="col-form-label pt-0">I am ...</legend>
                    <div class="col-sm-10">
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1">
                        <label class="form-check-label" for="gridRadios1">
                          a neighbor in need.
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                        <label class="form-check-label" for="gridRadios2">
                          interested in adding a post to the area.
                        </label>
                      </div>
                <!-- should these be hidden if NIN clicked? -->
                <div id="hide">
                  <div class="form-group row">
                      <label class="sr-only col-sm-2 col-form-label" for="inlineFormInputGroupUsername2"></label>
                      <div class="col-xs-8 col-sm-offset-2">
                          <input type="username" name="username" class="form-control" placeholder="Username">

                      </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="inputPassword3"></label>
                    <div class="col-xs-8">
                      <input type="password" class="form-control" name="password" id="inputPassword3" placeholder="Password">
                    </div>
                  </div>
                      </div>
                    </div>
                  </div> <!--end first hide div-->
                  </fieldset>
                  <div class="form-group row" id="hide-button">
                    <div class="col-xs-10 col-sm-offset-2">
                      <button type="submit" class="btn-lg">Create Account</button>
                      <br />
                      <p> &nbsp; Or log in <a href="/members" class="login-link">here</a></p>
                    </div>
                  </div>

              <div class="form-group row" id="hide-go">
                <div class="col-xs-10 col-sm-offset-2">
                  <button type="submit" class="btn-lg" id="go-homescreen">Go</button>
                </div>
              </div>
            </form>
      </div>
    </div>
   
  </div> <!--end div for container-->