form.signup,
form.login {
  margin-top: 50px;
}
.btn{
  background-color: rgb(255, 251, 236);
  margin: 5px;
}
.container{
  text-align: center;
  background-color: rgb(168, 219, 177);
  margin: 25px;
}
.navbar{
  margin: 25px;
  font-family: 'Holtwood One SC', serif;
  background-color: rgb(168, 219, 177);
}
body{
  font-family: 'Quicksand', sans-serif;
  background-color: rgb(255, 251, 236);
}
.placeholder{
  margin: 5px;
  width: 300px;
}
.table{

}